@using ImBLL
@using ImModel
@using ImModel.ViewModel

@{
    var article = (ArticleViewModel)ViewBag.Article;
    var userinfo = (Users)ViewBag.UserInfo;
    ViewBag.Title = article.ArticleName;
    <link href="~/Content/thread.css" rel="stylesheet" />
    <style type="text/css">
        #thread-container .thread-info .userinfo .headpic {
            display: inline-flex;
            width: 35px;
            height: 35px;
            border-radius: 15px;
            vertical-align: middle;
            overflow: hidden;
            margin-right: 2px;
        }
    </style>
}
<div id="page-preloader" class="page">
    <div class="content content-padded">
        <!-- 文章主体 -->
        <div class="article" id="thread-container">
            <input type="hidden" id="articleId" value="@article.Id">
            <div class="header">
                <h1>
                    <!-- 是否精华 -->
                    <i class="essence-mark"></i>
                    @article.ArticleName
                </h1>
                <div class="thread-info">
                    <span class="userinfo">
                        <i class="headpic">
                            <img src="@ImageUrlHelper.GetHeadImageUrl(userinfo.ImgUrl,100)" />
                        </i>
                        <em class="username">@Html.Raw(string.IsNullOrEmpty(userinfo.ShowName) ? userinfo.UserName : userinfo.ShowName)</em>
                    </span>
                    <span class="publish-time">@article.CreateTime.ToString("yy-MM-dd HH:mm")</span>
                </div>
            </div>
            <div class="articlecontent">
                @Html.Raw(article.Content == null ? "" : article.Content[0])
                <hr/>
                <a> 分享到微信</a>
            </div>
            <div class="article-footer">
                
                <img src="/Content/image/qrcode_for_gh_7f5be927b079_258.jpg" />
                <p>欢迎关注车酷公众账号</p>
            </div>
        </div>


    </div>
</div>


@section scripts
{
    <script type="text/javascript">

    </script>
}
