@{
    Layout = null;
    var article = (ImModel.ViewModel.ArticleViewModel)ViewBag.Article;
    var userinfo = (ImModel.Users)ViewBag.UserInfo;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />

    <link href="~/Content/mui.min.css" rel="stylesheet" />
    <link href="~/Content/article/thread.css" rel="stylesheet" />
    <link href="~/Content/article/index-original.css"  rel="stylesheet"/>
    <title>@article.ArticleName</title>

    
</head>
<body>
    <div class="mui-content">
        <input type="hidden" id="articleId" value="@article.Id">
        <img id="coverimage" src="@article.CoverImage.Replace("style/articlecover_36_24","style/article_1200_605")">
        <div class="article-area">
            <div class="head-title">@article.ArticleName</div>
            <div class="article-createtime">
                发表于 : <span id="article-createtime">@article.CreateTime.ToString("yy-MM-dd HH:mm")</span>
                @*<span class="mui-icon">
                    <svg class="svg-icon" aria-hidden="true">
                        <use xlink:href="#icon-tuji-dianzan-copy"></use>
                        <span class="span_VoteCount">500</span>
                    </svg>
                </span>
                <span class="mui-icon">
                    <svg class="svg-icon" aria-hidden="true">
                        <use xlink:href="#icon-tuji-pinglun-copy"></use>
                        <span class="span_CommentCount">500</span>
                    </svg>
                </span>*@
            </div>
            <div class="article-user">
                <img src="@ImBLL.ImageUrlHelper.GetHeadImageUrl(userinfo.ImgUrl,100)" id='user_headimg'>
                <span class="article-username" id="user_name">@Html.Raw(string.IsNullOrEmpty(userinfo.ShowName) ? userinfo.UserName : userinfo.ShowName)</span>
            </div>
            <div class="tips">
                <span>简介：</span>
                <p id="article_description">@article.Description</p>
            </div>
            <div class="" id='articlecontent'>
                @Html.Raw(article.Content ?? "")
            </div>

            <div class="article-createtime">
                发表于 : <span id="article-createtime">2018-01-25</span>
                @*<span class="mui-icon">
                    <svg class="svg-icon" aria-hidden="true">
                        <use xlink:href="#icon-tuji-dianzan-copy"></use>
                        <span class="span_VoteCount">500</span>
                    </svg>
                </span>
                <span class="mui-icon">
                    <svg class="svg-icon" aria-hidden="true">
                        <use xlink:href="#icon-tuji-pinglun-copy"></use>
                        <span class="span_CommentCount">500</span>
                    </svg>
                </span>*@
            </div>
            <div class="article-footer">
                <!--<img src="http://img.myautos.cn/commenfile/qrcode_for_gh_7f5be927b079_258.jpg" />-->
                <p>车酷自驾游是专注自驾游分享、交友社区，欢迎关注</p>
            </div>
        </div>
    </div>

    @{
        Html.RenderAction("ArticleComment", "ArticleComment", article);
    }
</body>
</html>
<script src="~/Scripts/mui.min.js"></script>
<script src="~/Scripts/mui.previewimage.js"></script>
<script src="~/Scripts/mui.zoom.js"></script>
<script src="~/Scripts/jquery-1.8.3.js"></script>
<script type="text/javascript">
    mui.previewImage();
</script>
<script type="text/javascript">
    //替换表情符号
    function replace_em(str) {
        str = str.replace(/\</g, '&lt;');
        str = str.replace(/\>/g, '&gt;');
        //str = str.replace(/\n/g, '<br/>');
        str = str.replace(/\[em_([0-9]*)\]/g, '<img src="../../Scripts/qqFace/arclist/$1.gif" border="0" />');
        return str;
    }
    $(document).ready(function () {
        var textList = $(".commentText");
        for (var i = 0; i < textList.length; i++) {
            var text = $(textList[i]).text();
            $(textList[i]).html(replace_em(text));
        }
    });
</script>