@{
    Layout = null;
    var article = (ImModel.ViewModel.ArticleViewModel)ViewBag.Article;
    var userinfo = (ImModel.Users)ViewBag.UserInfo;
    <link href="~/Content/mui.min.css" rel="stylesheet" />
    <link href="~/Content/thread.css" rel="stylesheet" />
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@article.ArticleName</title>

    <style type="text/css">
        .thread-info .userinfo img {
            width: 35px;
            height: 35px;
            border-radius: 8px;
            vertical-align: middle;
            overflow: hidden;
            margin-right: 2px;
        }

        .thread-info {
            margin: 10px 10px;
        }

            .thread-info .userinfo .username {
                font-size: 16px;
            }

        .mui-content-padded p img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    </style>
</head>
<body>
    <div class="mui-content">
        <input type="hidden" id="articleId" value="@article.Id">
        <div class="header">
            <h2>
                @article.ArticleName
            </h2>
            <div class="thread-info">
                <span class="userinfo">
                    <img src="@ImBLL.ImageUrlHelper.GetHeadImageUrl(userinfo.ImgUrl,100)" />
                    <em class="username">@Html.Raw(string.IsNullOrEmpty(userinfo.ShowName) ? userinfo.UserName : userinfo.ShowName)</em>
                </span>
                <span class="publish-time">@article.CreateTime.ToString("yy-MM-dd HH:mm")</span>
            </div>
        </div>
        <!-- 文章主体 -->
        <div class="mui-content-padded">
            @Html.Raw(article.Content == null ? "" : article.Content[0])
            <p>作者：<em class="username">@Html.Raw(string.IsNullOrEmpty(userinfo.ShowName) ? userinfo.UserName : userinfo.ShowName)</em></p>
            <div class="article-footer">
                <img src="http://img.myautos.cn/commenfile/qrcode_for_gh_7f5be927b079_258.jpg" />
                <p>车酷自驾游是专注自驾游分享、交友社区，欢迎关注</p>
            </div>
        </div>
    </div>

    @{
        Html.RenderAction("ArticleComment", "ArticleComment", article);
    }
</body>
</html>

<script src="~/Scripts/mui.min.js"></script>
<script src="~/Scripts/mui.previewimage.js"></script>
<script src="~/Scripts/mui.zoom.js"></script>
<script type="text/javascript">
    mui.previewImage();
</script>