@model ImPinker.Models.FindPassWordNewPassViewModel
@{
    ViewBag.Title = "FindPassWord";
}
<div id="container">
    <h2>欢迎加入EngineStart</h2>

    @using (Html.BeginForm("SaveNewPassWord", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>请输入新密码。</h4>
        <hr />
        @Html.ValidationSummary()
    <input type="hidden" id="accounts" name="phoneNum" value="@ViewBag.phoneNum" />
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "txt_pass" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "txt_pass2" })
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <p id="errormessage" style="color: red;display: none">输入法错误</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" onclick="return checkNewPassForm()" class="btn btn-default" value="提交" />
            </div>
        </div>
    }
</div>
<div class="clear"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function checkNewPassForm() {
            var pass1 = $("#txt_pass").val();
            var pass2 = $("#txt_pass2").val();
            if (pass1 == '' || pass2 == '' || pass1.length < 6) {
                $("#errormessage").html("密码至少有6位数字或字母组成");
                $("#errormessage").show();
                return false;
            }
            if (pass1 != pass2) {
                $("#errormessage").html("密码输入不一致，请重新输入");
                $("#errormessage").show();
                return false;
            }
            $("#errormessage").hide();
            return true;
        }
        
    </script>
}
