@using ImModel.ViewModel
@{
    ViewBag.Title = "热门";
    var searchVm = (SearchResultVm)ViewBag.searchVm;
    <link href="~/Content/search.css" rel="stylesheet" />
}
<div id="containers" style="width: 1100px;margin:auto;">
    <div class="crumb">当前位置：<a href="/">首页</a> &gt;热门标签  </div>
    <div class="search-input">
        <div class="search-btn-area">
            <i>筛选：</i>
            @{
                if (searchVm.FacetSelected != null && searchVm.FacetSelected.Count > 0)
                {
                    foreach (var i in searchVm.FacetSelected)
                    {
                        <a href="@i.Url">
                            <i>@i.Name</i>
                        </a>
                    }
                }

                if (searchVm.FacetDicTag != null && searchVm.FacetDicTag.Count > 0)
                {
                    foreach (var i in searchVm.FacetDicTag)
                    {
                        <a href="@i.Url">
                            <i>@i.Name</i>&nbsp;&nbsp;
                            <i style="color:red">[@i.Count]</i>
                        </a>
                    }
                }
                if (searchVm.FacetDicDateTime != null && searchVm.FacetDicDateTime.Count > 0)
                {
                    <hr/><i>按时间筛选:</i>
                    foreach (var i in searchVm.FacetDicDateTime)
                    {
                        <a href="@i.Url">
                            <i>@i.Name</i>
                            <i>[@i.Count]</i>&nbsp;&nbsp;
                        </a>
                    }
                }
            }
        </div>

    </div>

   
    <div class="tag-name">
        <h2><strong>@Html.Raw(ViewBag.HotTag)</strong></h2>
        <i>共有 @Html.Raw(searchVm.TotalCount)篇文章</i>
    </div>
</div>

<ul id="articleConten" class="search-thread-list" style="width: 1128px">
    @Html.Partial("_Index_Article", searchVm.ArticleList)
</ul>
<div class="clear"></div>
<div class="topic-list">
    <a href="javascript:;" id="load-more-topic">加载更多</a>
</div>
@section scripts
{
    <script type="text/javascript">
        var totalCount=@searchVm.TotalCount;
        var pageCount = @searchVm.PageCount;
        var pageNum = 1;
    </script>
    <script src="~/Scripts/Search/search.js"></script>
    
}





