@using ImModel.ViewModel
@using Newtonsoft.Json
@{
    ViewBag.Title = "Search";
    var searchVm = (SearchResultVm)ViewBag.searchVm;
    <link href="~/Content/search.css" rel="stylesheet" />
}
<div id="containers" style="width: 1100px;margin:auto;">
    <div class="crumb">当前位置：<a href="/">首页</a> &gt;共检索到 @Html.Raw(searchVm.TotalCount) 条相关结果  </div>
    <div class="search-input">
            <input id="keyword" name="keyword" type="text" value="越野" autocomplete="off">
            <div class="search-btn-area">
                <a href="javascript:;" class="current">内容</a> <a href="/search/user?keyword=越野" methods="post">用户</a>
                @{
                    if (searchVm.FacetSelected != null && searchVm.FacetSelected.Count > 0)
                    {
                        foreach (var i in searchVm.FacetSelected)
                        {
                            <a href="@i.Url">
                                <i>@i.Name</i>&nbsp;&nbsp;
                            </a>
                        }
                    }

                    if (searchVm.FacetDicTag != null && searchVm.FacetDicTag.Count > 0)
                    {
                        foreach (var i in searchVm.FacetDicTag)
                        {
                            <a href="@i.Url">
                                <i>@i.Name</i>
                                <i>[@i.Count]</i>&nbsp;&nbsp;
                            </a>
                        }
                    }
                    if (searchVm.FacetDicDateTime != null && searchVm.FacetDicDateTime.Count > 0)
                    {
                        foreach (var i in searchVm.FacetDicDateTime)
                        {
                            <a href="@i.Url">
                                <i>@i.Name</i>
                                <i>[@i.Count]</i>&nbsp;&nbsp;
                            </a>
                        }
                    }
                }
                <button class="blue-middle-button" onclick="searchKeyWord()">搜索</button>
            </div>
    </div>

    <div class="search-interest">
        <div class="head">
            相关兴趣
        </div>
        <div class="body">
            @{
                if (searchVm.FacetDicCompany != null && searchVm.FacetDicCompany.Count > 0)
                {
                    foreach (var i in searchVm.FacetDicCompany)
                    {
                        <a href="@i.Url">
                            <em>@i.Name</em>
                            <em>[@i.Count]</em>&nbsp;&nbsp;
                        </a>
                    }
                }
            }
        </div>
    </div>
</div>

<ul id="articleConten" class="search-thread-list" style="width: 1128px"></ul>
<div class="clear"></div>
<div class="topic-list">
    <a href="javascript:;" id="load-more-topic">加载更多</a>
</div>

@section scripts
{
    <script type="text/javascript">
        var totalCount=@searchVm.TotalCount;
        var pageCount = @searchVm.PageCount;
        var pageNum = 1;
        var jsonData=@Html.Raw(JsonConvert.SerializeObject(searchVm.ArticleList));

        $(document).ready(function() {
            //搜索框关键字
            var keys = $.getUrlParam("key");
            $("#keyword").val(keys);
            //tab导航选中状态
            $("#tabList a").bind("click", function() {
                $("#tabList a").removeClass("b_twolcur");
                $(this).addClass("b_twolcur");
                search();
            });
            //页面加载完，tab选中状态
            var tabS=$.getUrlParam("tab");
            if (tabS!=null&&tabS.length>0) {
                $("#tabList a").removeClass("b_twolcur");
                $("#tabList a[txt=" + tabS + "]").addClass("b_twolcur");
            }
        });
        
        //大搜索框搜索事件
        function searchKeyWord() {
            var keyWord = $("#keyword").val();
            window.location = ("/Search/Index?key=" + keyWord);
        }
    </script>
    <script src="~/Scripts/Search/search.js"></script>
    <script type="text/template1">
        <li>
            <div class="img-box">
                <div class="interest-label">
                    <div class="label"><a href="/interest/interestinfo?interestId=63&amp;creatorTime=2" target="_blank">拍汽车</a></div>
                </div>
                <a href="/Article?id=$Id$" target="_blank">
                    <img src="$CoverImage$" class="upload">
                </a>
                <div class="about-count">
                    <span class="click"><i></i>4006</span>
                    <span class="comment"><i></i>37</span>
                    <span class="praise"><i></i>46</span>
                </div>
            </div>
            <h4>
                <a href="/Article?id=$Id$" target="_blank">
                    $ArticleName$
                </a>
            </h4>
            <div class="user-info">
                <a href="/lookat/home?userId=13476" target="_blank" class="user">
                    <em>$Company$</em>
                </a>
                <span class="pub-time">$CreateTimeStr$</span>
            </div>
        </li>
    </script>
}

