@using Model.ViewModel
@using Newtonsoft.Json
@{
    ViewBag.Title = "Search";
    var searchVm = (SearchResultVm)ViewBag.searchVm;
}

<div class="b_box_nocolor m1100">
    <div class="b_onepart b_twopart clearfix" style="display: block">
        <div class="b_oneyou rt">
            <!--列表左侧 start-->
            <div class="b_twoleft lt">
                <div class="b_hotcar  two_tit clearfix">
                    <h5><a href="http://www.fblife.com/html/gundong.html" target="_blank">我的收藏</a></h5>
                    <div class="b_twoxingshi rt" id="nes_relit">
                        <a href="javascript:void(0)" class="b_txshiact b_txshi"><em class="z_liebiao"></em>列表</a>
                        <a href="javascript:void(0)" class="b_txshi"><em class="z_wangge"></em>网格</a>
                    </div>
                </div>
                @Html.Partial("_TabListPartial")

                <p>共检索到 @Html.Raw(searchVm.TotalCount) 条相关结果</p>
                <div>
                    <span>来源：</span>
                    @{
                        foreach (var i in searchVm.FacetDicCompany)
                        {
                            <span>
                                <a>
                                    <i>@i.Key</i>
                                    <i>[@i.Value]</i>&nbsp;&nbsp;
                                </a>
                            </span>
                        }
                    }
                </div>
                <div>
                    <span>标签：</span>
                    @{
                        foreach (var i in searchVm.FacetDicTag)
                        {
                            <span>
                                <a>
                                    <i>@i.Key</i>
                                    <i>[@i.Value]</i>&nbsp;&nbsp;
                                </a>
                            </span>
                        }
                    }
                </div>
                <div>
                    <span>时间：</span>
                    @{
                        foreach (var i in searchVm.FacetDicDateTime)
                        {
                            <span>
                                <a>
                                    <i>@i.Key</i>
                                    <i>[@i.Value]</i>&nbsp;&nbsp;
                                </a>
                            </span>
                        }
                    }
                </div>
               
                <!--资讯列表-->
                <div class="b_zxlistbor" id="today_news">
                    <div class="b_wanglie lt" id="wanggelb">
                        <!--列表形式-->
                        <div class="b_newsfang" id="zixun_list" style="display:block;">
                            <!--资讯列表---最新-->
                            <div class="zixunone" id="articleConten" style="display: block;">

                            </div>
                            <!--更多-->
                            <div class="b_zx_more clearfix">
                                <a href="javascript:void(0)" id="loadmore">更多&gt;&gt;</a>
                            </div>
                            <!--更多 end-->
                            <!--资讯列表---最新 end-->
                        </div>
                        <!--列表形式 end-->
                    </div>
                </div>
                <!--资讯列表 end---->
            </div>
            <!--列表左侧 end-->
            <!--资讯右侧 start-->
            @Html.Partial("_RightPartial");
            <!--资讯右侧 end-->
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        var pageCount = @searchVm.PageCount;
        var pageNum = 1;
        var jsonData=@Html.Raw(JsonConvert.SerializeObject(searchVm.ArticleList));

        $(document).ready(function() {
            //tab导航选中状态
            $("#tabList a").bind("click", function() {
                $("#tabList a").removeClass("b_twolcur");
                $(this).addClass("b_twolcur");
                search();
            });
            //页面加载完，tab选中状态
            var tabS=$.getUrlParam("tab");
            if (tabS!=null&&tabS.length>0) {
                $("#tabList a").removeClass("b_twolcur");
                $("#tabList a[txt=" + tabS + "]").addClass("b_twolcur");
            }
        });
    </script>
    <script src="~/Scripts/Search/search.js"></script>
    <script type="text/template1">
        <div class="b_zixunlist clearfix">
            <div class="b_zxpic lt">
                <a href="$ArticleUrl$" target="_blank">
                    <img width="180" height="120" src="$CoverImage$"
                         data-src="$CoverImage$" class="lazyimg">
                </a>
            </div>
            <div class="b_zxtuwen lt">
                <h1><a href="$Url$" target="_blank"> $ArticleName$</a></h1>
                <p style="height:40px">$Description$</p>
                <div class="b_zixunxinxi clearfix">
                    <div class="b_zxtime lt" style="width:250px">
                        <span>$CreateTime$</span>
                    </div>
                    <div class="b_zxother rt">
                        <div id="bdshare" class=" lt" style="padding-bottom:0px;">
                            <span class="bds_more">来源：$Company$</span>
                        </div>
                        <span class="b_zxliulan" id="brower_span_173341">0</span>
                        <span class="b_zxotuij" id="like_span_173341">赞<cite id="like_text_173341">10</cite></span>
                    </div>
                </div>
            </div>
        </div>
    </script>
}

