@using Common.DateTimeUtil
@using ImBLL
@using ImModel
@using ImModel.ViewModel
@{
    var commentLists = (List<ArticleCommentVm>)ViewBag.CommentLists;
    var usersDic = (Dictionary<int, Users>)ViewBag.UsersDic;
    var totalcount = (int)ViewBag.TotalCount;

    <link href="~/Content/icons-extra.css" rel="stylesheet" />
}
<div id="comment-container">
    <h3><i></i>评论 <span>( @totalcount 条 )</span></h3>
    @{
        if (commentLists.Count > 0)
        {
            <div class="comment" id="commentContent">
                @{
            foreach (var comment in commentLists)
            {
                var userid = comment.UserId;
                var user = usersDic[userid];

                <dl class="comment-list hot" commentid="@comment.Id">
                    <dt>
                        <i class="headpic">
                            <img src="@ImageUrlHelper.GetHeadImageUrl(user.ImgUrl, 40)">
                        </i>
                        <em class="userinfo">
                            @(string.IsNullOrEmpty(user.ShowName) ? user.UserName : user.ShowName)
                            <p>@(TUtil.DateFormatToString(comment.CreateTime))</p>
                        </em>

                    </dt>
                    <dd>
                        <p class="commentText">
                            @comment.Content&nbsp;
                    </p>
                    </dd>
                    @{
                if (comment.ToCommentId > 0 && comment.ListToComment.Count > 0)
                {
                    var item = comment.ListToComment[0];
                    <dl class="quote">
                        <dt>
                            <i class="headpic">
                                <img src="@item.HeadImage">
                            </i>
                            <em class="userinfo">
                                @(string.IsNullOrEmpty(user.ShowName) ? user.UserName : user.ShowName)
                                <p>@(TUtil.DateFormatToString(comment.CreateTime))</p>
                            </em>
                        </dt>
                        <dd>
                            <p class="commentText">
                                @item.Content&nbsp;
                            </p>
                        </dd>
                    </dl>
                }
                    }
                </dl>
            }
                }
            </div>
        }
    }
</div>

