<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="/content/image/tubiao100.jpg" />
    <!-- 越野e族css start
    <link rel="stylesheet" type="text/css" href="http://static.fblife.com/static/webnew/index/css/common.css?updatetime=201605052" />
    <link rel="stylesheet" type="text/css" href="http://static.fblife.com/static/webnew/index/css/advert.css?updatetime=201605052" />
     越野e族css end-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    @Html.Partial("_HeadPartial")
    @RenderBody()
    @Html.Partial("_FootPartial")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $(".search-submit").click(function () {
            search();
        });
        //回车
        $(document).keydown(function (event) {
            if (event.keyCode == 13) {
                search();
            }
        });
        //设置搜索框文本
        var keys = $.getUrlParam("key");
        var tabs = $("#tabList a[class='b_yaowen b_twolcur']").text();
        if (keys != null && keys.length > 0) {
            keys = keys.replace("," + tabs, "");
            $("#searchterm").val(keys);
        }

        
    });
    function search() {
        var keyword = $("#searchterm").val();
        var tabStr = $("#tabList a[class='b_yaowen b_twolcur']").text();
        if (keyword != null && keyword.length > 0) {
            window.open("/Search/Index?key=" + keyword + "&tab=" + tabStr,"_blank");
        }
    }
</script>
