<ul class="topic-label" id="topicLabel">
    <li class="active all"><a href="/Home/Index">每日更新</a></li>

    <li>
        @Html.ActionLink("越野江湖", "HotTag", "Search", new { hotTag = "越野江湖" }, new { target = "_blank" })
    </li>

    <li>
        @Html.ActionLink("长途自驾游", "HotTag", "Search", new { hotTag = "长途自驾游" }, new { target = "_blank" })
    </li>

    <li>
        @Html.ActionLink("重度穿越", "HotTag", "Search", new { hotTag = "重度穿越" }, new { target = "_blank" })
    </li>

    <li>
        @Html.ActionLink("车酷故事", "HotTag", "Search", new { hotTag = "车酷故事" }, new { target = "_blank" })
    </li>

    <li>
        @Html.ActionLink("达人装备", "HotTag", "Search", new { hotTag = "达人装备" }, new { target = "_blank" })
    </li>

    <li>
        @Html.ActionLink("酷车改装", "HotTag", "Search", new { hotTag = "酷车改装" }, new { target = "_blank" })
    </li>

    <li>
        @Html.ActionLink("动手达人", "HotTag", "Search", new { hotTag = "动手达人" }, new { target = "_blank" })
    </li>

    <li>
        @Html.ActionLink("新车评测", "HotTag", "Search", new { hotTag = "新车评测" }, new { target = "_blank" })
    </li>

    <li>
        @Html.ActionLink("大好河山", "HotTag", "Search", new { hotTag = "大好河山" }, new { target = "_blank" })
    </li>

    <li>
        @Html.ActionLink("探险越野", "HotTag", "Search", new { hotTag = "探险越野" }, new { target = "_blank" })
    </li>

    <li>
        @Html.ActionLink("房车旅行", "HotTag", "Search", new { hotTag = "房车旅行" }, new { target = "_blank" })
    </li>

    <li>
        @Html.ActionLink("老车新生", "HotTag", "Search", new { hotTag = "老车新生" }, new { target = "_blank" })
    </li>

    <li>
        @Html.ActionLink("侃车聊车", "HotTag", "Search", new { hotTag = "侃车聊车" }, new { target = "_blank" })
        <a id="topic_id_img_9" href="/index?topicId=9">侃车聊车</a>
    </li>

    <li>
        @Html.ActionLink("航拍", "HotTag", "Search", new { hotTag = "航拍" }, new { target = "_blank" })
    </li>

    <li>
        @Html.ActionLink("酷车社群", "HotTag", "Search", new { hotTag = "酷车社群" }, new { target = "_blank" })
    </li>

</ul>