@using ImModel.ViewModel

@{
    var article = (ArticleViewModel)ViewBag.Article;
    ViewBag.Title = article.ArticleName;
    <link href="~/Content/thread.css" rel="stylesheet" />
    <link href="~/Content/player.css" rel="stylesheet" />
}
@Html.Partial("_TabListPartial")

<div id="container">
    <div class="thread-main">
        <!-- 文章主体 -->
        <div class="article">
            <input type="hidden" id="articleId" value="@article.Id">
            <h2>
                <!-- 是否精华 -->
                <i class="essence-mark"></i>
                @article.ArticleName
            </h2>
            <div class="thread-info">
                <div class="interest">
                    <em class="ico"></em>
                    @{
                        var i = 0;
                        foreach (var keyWord in article.KeyWords.Split(','))
                        {
                            if (i > 5)
                            {
                                break;
                            }
                            if (!string.IsNullOrEmpty(keyWord))
                            {
                                <a href="/Search/Index?key=@keyWord" target="_blank" class="topic-lab"
                                   topicid="3" style="background: rgb(46, 75, 107); margin: 5px;">@keyWord<i></i></a>
                                i++;
                            }
                        }
                    }

                </div>
                <span class="publish-time">@article.CreateTime.ToString("yy-MM-dd HH:mm")</span>
            </div>
            <div class="articlecontent">
                @Html.Raw(article.Content==null? "":article.Content[0])
            </div>
            <!--分享-->
            <div class="interest-share">
                @{
                    if (!string.IsNullOrEmpty(article.Company))
                    {
                        <div class="interest">
                            转载自：
                            <a href="@article.Url" target="_blank">@article.Company</a>
                        </div>
                    }
                }
            </div>
        </div>

        <!--评论区-->
        <div id="commentarea">
            @{
                Html.RenderAction("ArticleComment", "ArticleVote", article);
            }
        </div>
    </div>
    <!--右侧区域-->
    <div class="thread-right">
        @{
            if (string.IsNullOrEmpty(article.Company))  //company为空，表示是原创文章，不是抓取的
            {
                //作者信息
                Html.RenderAction("ArticleWriterInfo", "UserCenter", article);
            }
            
            //相关文章推荐
            Html.RenderAction("RelativeArticle", "Article", article);
        }
    </div>
</div>
<div class="clear"></div>
@section scripts
{
<script src="~/Scripts/ArticleVote/articleComment.js"></script>
<script src="~/Scripts/ArticleVote/articleCommentVote.js"></script>
    <script type="text/templateReComment">
        <div class="reply-box">
            <textarea id="reply-content" placeholder="请发表回复，回复中不要带有侮辱国家或他人的言论。" class=""></textarea>
            <div class="button-box" style="position: relative;">
                <div class="char-limit">
                    <em>还可以输入</em> <i style="color: #2175d0;">500</i> <b>字</b>
                </div><a href="javascript:;" class="face-btn"><i></i>发表情</a>
                <a href="javascript:;" id="reply-pickfiles" class="upload-img-btn" style="z-index: 1;">
                    <i></i>发图片
                </a> <a href="javascript:;" id="pub-reply" class="blue-button">回复评论</a>
            </div>
        </div>
    </script>
}