@using ImModel.ViewModel

@{
    var article = (ArticleViewModel)ViewBag.Article;
    ViewBag.Title = article.ArticleName;
    <link href="~/Content/thread.css" rel="stylesheet" />
    <link href="~/Content/player.css" rel="stylesheet" />
}
@Html.Partial("_TabListPartial")

<div id="container">
    <div class="thread-main">
        <!-- 文章主体 -->
        <div class="article">
            <input type="hidden" id="articleId" value="@article.Id">
            <h2>
                <!-- 是否精华 -->
                <i class="essence-mark"></i>
                @article.ArticleName
            </h2>
            <div class="thread-info">
                <div class="interest">
                    <em class="ico"></em>
                    @{
                        var i = 0;
                        foreach (var keyWord in article.KeyWords.Split(','))
                        {
                            if (i > 5)
                            {
                                break;
                            }
                            if (!string.IsNullOrEmpty(keyWord))
                            {
                                <a href="/Search/Index?key=@keyWord" target="_blank" class="topic-lab"
                                   topicid="3" style="background: rgb(46, 75, 107);">@keyWord<i></i></a>
                                i++;
                            }
                        }
                    }

                </div>
                <span class="publish-time">@article.CreateTime.ToString("yy-MM-dd HH:mm")</span>
            </div>
            <div class="articlecontent">
                @Html.Raw(article.Content[0])
            </div>
            <!--分享-->
            <div class="interest-share">
                @{
                    if (!string.IsNullOrEmpty(article.Company))
                    {
                        <div class="interest">
                    转载自：
                    <a href="@article.Url" target="_blank">@article.Company</a>
                </div>
                    }
                }
                <div class="share bdsharebuttonbox bdshare-button-style1-32" data-bd-bind="1478688277964">
                    <span>分享到：</span>
                    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                </div>
            </div>
        </div>

        <!--评论区-->
        @{
            Html.RenderAction("ArticleComment", "ArticleVote", article);
        }
    </div>
    <!--右侧区域-->
    <div class="thread-right">
        <div class="user-info">
            <a href="/lookat/home?userId=151935" target="_blank" class="headpic">
                <i style="background-image: url(http://imageqiniu.xxxxxbbs.com/Fuhh4QUUJ8JuOwLQXDzrQr2Q6eAR?imageMogr2/auto-orient/thumbnail/!100x100r/gravity/Center/crop/100x100);background-repeat: no-repeat;background-position: center;">


                    <b class="male"></b>


                    <!-- <img src=''> -->
                </i>
                <em>小磊哥</em>
            </a>

            <ul>
                <li>
                    关注

                    <a href="/lookat/friend?userId=151935" target="_blank">0</a>


                </li>
                <span class="line"></span>
                <li>
                    粉丝
                    <a href="/lookat/fins?userId=151935" target="_blank">3</a>
                </li>
                <span class="line"></span>
                <li>
                    作品
                    <a href="/lookat/home?userId=151935" target="_blank">3</a>
                </li>
            </ul>
            <div class="button-area" userid="151935">
                <a href="javascript:;" class="white-button follow-btn" userid="151935" type="0"><i></i>关注</a>
                <a href="javascript:;" class="white-button private-btn message-button" userid="151935"><i></i>发私信</a>
            </div>
        </div>
        <div class="operate-record">
            <h3><i></i>此帖荣誉记录</h3>
            <ul>
                <li>
                    <div class="table">
                        <span style="text-align: right;">
                            <i>+500分</i><br>
                            <em>+30金币</em>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="table">
                        <div>
                            <span>此帖被 <a href="/lookat/home?userId=2" target="_blank">"运营小妹1号"</a> 设为精华帖</span>
                            <p style="margin-top:5px;">理由：精华鼓励 </p>
                        </div>
                        <span style="text-align: right;width:50px;">
                            <i>+200分</i><br>
                            <em>+10金币</em>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="clear"></div>
@section scripts
{
    <script src="~/Scripts/ArticleVote/articleComment.js"></script>
    <script type="text/templateReComment">
        <div class="reply-box">
            <textarea id="reply-content" placeholder="请发表回复，回复中不要带有侮辱国家或他人的言论。" class=""></textarea>
            <div class="button-box" style="position: relative;">
                <div class="char-limit">
                    <em>还可以输入</em> <i style="color: #2175d0;">500</i> <b>字</b>
                </div><a href="javascript:;" class="face-btn"><i></i>发表情</a>
                <a href="javascript:;" id="reply-pickfiles" class="upload-img-btn" style="z-index: 1;">
                    <i></i>发图片
                </a> <a href="javascript:;" id="pub-reply" class="blue-button">回复评论</a>
            </div>
        </div>
    </script>
}