@using ImModel
@using ImPinker.Common
@model dynamic

@{
    ViewBag.Title = "发新贴";
    var article = (Article)ViewBag.Article;
    <link href="~/Content/thread.css" rel="stylesheet" />
}

<div id="container">
    <h5 class="crumb"><em>当前位置：</em><a href="/index">首页</a>&gt;<a href="../">话题列表</a>&gt;阅读话题</h5>
    @using (Html.BeginForm("UpdateThread", "Article", FormMethod.Post))
    {
        <input type="hidden" name="ArticleId" value="@article.Id" />
        <input type="text" name="ArticleName" value="@article.ArticleName" id="threadName" style="font-size: 24px; padding: 20px ; margin-bottom: 30px; width: 100%; " />
        <div class="small-topic-article" style="padding: 0">
            <script id="contain" name="Content" type="text/plain" style="width: 100%; height: 800px;">
            </script>
        </div>
        <a href="javascript:;" id="pickfiles-img" style="position: relative; z-index: 1;">
            上传封面图片
            <input id="imgFile" name="imgFile" type="file" style="width: 100%;" />
        </a>

        <img id="preview180" src="@ImageUrlHelper.GetArticleCoverImage(article.CoverImage, 0)" style="width: 300px; height: 300px" />
        <input type="hidden" value="@article.CoverImage" name="Coverimage" id="imgPath" />
        <hr />
        @Html.ValidationSummary()
        <div class="topic-list">
            <input id="btn_publish" type="submit"
                   style=" background: #2175d0; clear: both; display: block; width: 1100px;
 line-height: 30px; font-size: 14px; color: #fff;  border-radius: 5px;
 text-align: center; margin: 10px auto; " value="确认修改" />
        </div>
    }
</div>

@section scripts
{
    <script src="/UeEditer/ueditor.config.js"></script>
    <script src="/UeEditer/ueditor.all.js"></script>
    <script src="/UeEditer/ueditor.parse.js"></script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="/UeEditer/lang/zh-cn/zh-cn.js"></script>

    <script src="~/Scripts/ajaxfileupload.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var ue = UE.getEditor('contain');


            $("#btn_publish").bind("click", function () {
                var flag = ue.hasContents();
                if (flag) {
                    var content = ue.getContent();
                    var articleName = $("#threadName").val();
                    return true;
                    $.ajax({
                        url: "/Article/CreateThread",
                        type: "post",
                        data: { name: articleName, content: content },
                        success: function (data) {
                            alert("bingo！");
                        },
                        error: function (data) {
                            alert(data);
                        }
                    });
                }
            });

            $(function () {
                $("#imgFile").change(function () {
                    ajaxFileUpload();
                });
            });
        });

        //上传封面图

        function ajaxFileUpload() {
            $("#imgFile").change(function () {
                ajaxFileUpload();
            });
            $.ajaxFileUpload(
                {
                    url: '/Upload/Upload', //用于文件上传的服务器端请求地址
                    type: "post",
                    secureuri: false, //一般设置为false
                    fileElementId: 'imgFile', //文件上传空间的id属性  <input type="file" id="file" name="file" />
                    dataType: 'json', //返回值类型 一般设置为json
                    success: function (data, status)  //服务器成功响应处理函数
                    {
                        $("#preview180").attr("src", data.imgurl);
                        $("#imgPath").val(data.imgurl);
                    },
                    error: function (data, status, e)//服务器响应失败处理函数
                    {
                        alert(e);
                    }
                }
            );
        }

    </script>
}

