@using Common.DateTimeUtil
@using ImModel
@using ImModel.ViewModel
@using ImPinker.Common
@{
    var commentLists = (List<ArticleCommentVm>)ViewBag.CommentLists;
    var usersDic = (Dictionary<int, Users>)ViewBag.UsersDic;
    var totalcount = (int)ViewBag.TotalCount;
}
<div class="comment" id="thread-comment">
    <h2>评论 <span>( @totalcount 条 )</span></h2>
    <div class="pubcomment">
        <textarea id="content" class="comment-textarea" placeholder="请发表评论，评论中不要带有侮辱国家或他人的言论，字数在500字以内。"></textarea>
        <div class="button-box" style="position: relative;">
            <div class="char-limit"><em>还可以输入</em> <i style="color: #2175d0;">500</i> <b>字</b></div>
            <em style="color: red;display: none" id="loginmessage">请先登录~</em>
            <a href="javascript:;" type="submit" onclick="commentClick()" class="blue-button" id="comment-btn">发表评论</a>
            <div id="html5_1b28h2dmi10gu1oj4c61lvndgs3_container" class="moxie-shim moxie-shim-html5" style="position: absolute; top: 0px; left: 568px; width: 36px; height: 42px; overflow: hidden; z-index: 0;"><input id="html5_1b28h2dmi10gu1oj4c61lvndgs3" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" multiple="" accept="image/jpeg,image/gif,image/png"></div>
        </div>
    </div>
    @{
        if (commentLists.Count > 0)
        {
            <h3>
                <i class="shadow-left"></i>
                全部评论
                <i class="shadow-right"></i>
                <div class="comment-order">
                    <a href="javascript:;" class="latest current">最新</a>
                    <a href="javascript:;" class="ordest">最旧</a>
                    <a href="javascript:;" class="hottest">最热</a>
                </div>
            </h3><div class="all-comment" id="commentContent">
                     @{
                         var i = 0;
            foreach (var comment in commentLists)
            {
                var userid = comment.UserId;
                var user = usersDic[userid];
                <dl commentid="@comment.Id" class="comment-list" iscurrentpage="false">
                    <dt>
                        <a href="/lookat/home?userId=151404" class="user" target="_blank">
                            <i style="background-image: url(@ImageUrlHelper.GetHeadImageUrl(user.ImgUrl, 40));background-repeat: no-repeat;">
                                <b class="male-small"></b>
                            </i>
                            <em>
                                @user.UserName
                            </em>
                        </a>
                        <span class="create-time">@TUtil.DateFormatToString(comment.CreateTime)</span>
                        <span class="floor">[ <b>@(totalcount-i)</b>楼 ]</span>
                        <a href="javascript:;" class="up-btn white-button" commentid="2435005">顶(<em>0</em>)</a>
                    </dt>
                    <dd class="comment-content">
                        <p>
                            @comment.Content
                        </p>
                    </dd>
                    @{
                if (comment.ListToComment != null && comment.ListToComment.Count > 0)
                {
                    var tocomment = comment.ListToComment[0];
                    if (tocomment != null)
                    {
                        var user2 = usersDic[tocomment.UserId];

                        <dl class="quote">
                            <a href="javascript:;" class="open-dialog">查看对话</a>
                            <dt>
                                <a href="/lookat/home?userId=148524" class="head-pic" target="_blank">
                                    <i class="head-img" style="background-image: url(@ImageUrlHelper.GetHeadImageUrl(user.ImgUrl, 40)); background-repeat: no-repeat;">
                                        <b class="male-small"></b>
                                    </i>
                                    @user2.UserName
                                </a>
                                @TUtil.DateFormatToString(tocomment.CreateTime)
                                @*[ <b>31</b>楼 ]*@
                            </dt>
                            <dd>
                                <p>
                                    @tocomment.Content
                                </p>
                            </dd>
                        </dl>
                    }

                }
                    }
                    <dd class="comment-operate">
                        @*<a href="javascript:;" commentid="2435005" threadid="112575" userid="151404" type="2" class="report-btn">举报</a>|*@
                         <a href="javascript:;" commentid="@comment.Id" articleid="@comment.ArticleId" class="reply-btn">回复</a>
                    </dd>
                </dl>
                i ++;
            }
            if (totalcount > 20)
            {
                <div class="commentPage-box">
                    <a href="javascript:;" class="prev-page gray">上一页</a><ul id="commentPage" style="display: inline-block;">
                        <li pageid="1" class="cur-page"><a href="javascript:;">1</a></li>
                        <li pageid="2" class="no-cur-page"><a href="javascript:;">2</a></li>
                        <li pageid="3" class="no-cur-page"><a href="javascript:;">3</a></li>
                        <li pageid="4" class="no-cur-page"><a href="javascript:;">4</a></li>
                        <li pageid="5" class="no-cur-page"><a href="javascript:;">5</a></li>
                        <li pageid="6" class="no-cur-page"><a href="javascript:;">6</a></li>
                        <li pageid="7" class="no-cur-page"><a href="javascript:;">7</a></li>
                        <li pageid="8" class="no-cur-page"><a href="javascript:;">8</a></li>
                    </ul><a href="javascript:;" class="next-page">下一页</a>
                </div>
            }
                }
            </div>
        }
    }
</div>
