@using Common.DateTimeUtil
@using ImBLL
@using ImModel.ViewModel
@using ImPinker.Common
@{
    var list = (List<ArticleViewModel>)Model;
    if (list != null && list.Count > 0)
    {
        foreach (var vm in list)
        {
            <li threadid="108832">
                <a href="/Article/Index?id=@vm.Id" target="_blank" class="img-box">
                    <img src="@ImageUrlHelper.GetArticleCoverImage(vm.CoverImage, 0)" alt="@vm.ArticleName">
                </a>
                <span class="topic-info-box">
                    <a href="/Search/Index?key=@vm.KeyWords" target="_blank" class="topic-lab"
                       topicid="3" style="background: rgb(46, 75, 107);">@vm.KeyWords<i></i></a>
                    <em class="topic-pub-time">@TUtil.DateFormatToString(vm.CreateTime)</em>
                </span>
                <h3 class="topic-title"><a href="/Article/Index?id=@vm.Id" target="_blank">@vm.ArticleName</a></h3>
                <div class="topic-user-info">
                    <a href="javascript:;" target="_blank" class="user-info">
                        <span>
                            @Html.Raw(string.IsNullOrEmpty(vm.Company) ? new UserBll().GetModelByCache(Int32.Parse(vm.Userid)).UserName : vm.Company)
                        </span>
                    </a>
                    <div class="about-count">
                        @*<span class="click-count"><i></i><b>@vm.VoteCount</b></span>*@
                        <span class="praise-count" onclick="articleVote(this,@vm.Id,@vm.VoteCount)"><i></i><b>@vm.VoteCount</b></span>
                    </div>
                </div>
            </li>

        }
    }
}
